<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstrings>
    <add name="DirectoryConnection"  providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='|DataDirectory|\Directory.mdf';Integrated Security=True;"></add>
  </connectionstrings>
</configuration>